name: infrastructure

env:
  NODE_VERSION: 20
  OIDC_ROLE_ARN: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/saas-github-oidc-provider-role
  # ECR_URI: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/infrastructure.yml'
      - 'infrastructure/**'
      - '!**/*.md'

jobs:
  infrastructure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install
        run: npm ci

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            images:
              - '**/*/Dockerfile.base'

      - name: Build
        working-directory: ./infrastructure
        run: |
          npm run lint
          npm run build

      - name: Assume OIDC Role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-session-name: gh-infrastructure-deploy-session
          role-to-assume: ${{ env.OIDC_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Deploy base image
        if: ${{ steps.filter.outputs.images == 'true' }}
        working-directory: ./infrastructure
        run: |
          # aws --version
          # aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ env.ECR_URI }}
          aws ecr describe-repositories --repository-names base || aws ecr create-repository --repository-name base

          # REPOSITORY_URI=${{ env.ECR_URI }}/base

          # docker build -t $REPOSITORY_URI:latest -f ./src/images/Dockerfile.base .
          # docker tag base:latest $REPOSITORY_URI:latest
          # docker push $REPOSITORY_URI:latest

          docker build -t $REGISTRY/$REPOSITORY:latest -f ./src/images/Dockerfile.base .
          docker push $REGISTRY/$REPOSITORY:latest
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: base  

      - name: Synth
        working-directory: ./infrastructure
        run: npx cdk synth --require-approval never

      - name: Deploy
        working-directory: ./infrastructure
        run: npx cdk deploy  --require-approval never
